/* Add a black background color to the top navigation */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Andale Mono, monospace;
}

#top_section {
  background-color: white;
  height: 100%;
}

.topnav {
  background-color: #0d477c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-shadow: black;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
/* .topnav a:hover {
  background-color: #def5ff;
  color: black;
  border: black;
} */

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #def5ff;
  color: black;
}
.topnav a:hover {
  background-color: #def5ff;
  color: black;
  border: black;
}
h1{
  padding-top: 150px;
  text-align: center;
  font-size: 70px;
  color: #0d477c;
}
h2{
  text-align: center;

}
/* 
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;} */
.search_categories{
  width: 100%;
  font-size: 20px;
  padding: 10px 8px 10px 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.search_categories .select{
  background:url('arrow.png') no-repeat;
  background-position:100% center;
}

.search_categories .select select{
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
h3{
  padding-top: 40px;
  text-align: left;
  font-size: 30px;
  color: #0d477c;

}
#themap{
  margin-top: 2vh;
  width: 80%;
  height: 50%;
  margin-left: 80px;
  /*box-shadow: 5px 5px #0d477c; */
  /* filter: drop-shadow(20px 20px 4px #0d477c);
   */
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit{
  margin-left: 590px;
  margin-top:20px;
    align-items: center;
  background-color: #0d477c;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}


#middle_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}


#left_side {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#right_side {
  width: 50%;
  margin-right: 180px;
}

#right_side #start {
  margin-bottom: -50px;
}
#mtrline {
  margin-top: 300px;
  margin-bottom: 400px;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;

}


#bottom_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

#bottom_wrapper #output_section {
  display: flex;
}

#bottom_wrapper #input_stations {
  display: flex;
  width: 100%;
  height: 20%;
  flex-direction: row;
  z-index: -1;
}


#first_box {
  width: 150px;
  height: 40px;
  background-color: white;
  border: solid 1px black;
  margin-left: 200px;
  margin-top: 320px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#second_box {
  width: 150px;
  height: 40px;
  background-color: #0d477c;
  border: solid 1px black;
  color: white;
  margin-right: 85px;
  margin-top: 320px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
} 
h4 {
  text-align: center;
  margin-top: -1px;
}

.tablewrapper {
  width:100%;
  height: auto;
  padding: 0;
  margin-left: 110px;
  margin-top: -55vh;
  align-items: center;
  justify-content: center;
  /* margin-top: -410px;
  margin-left: 450px;
  margin-bottom: -100px; */
}

/* lists */
.row ul #names_section {
  margin:0;
  padding:0;
  color: #0d477c;
  font-weight: 900;
}

.row ul li  {
  margin:0;
  font-size:16px;
  list-style:none;
  width:20%;
	box-sizing:border-box;
  }
  @media only screen and (max-width:479px) {
    font-size:13px;
  }

.title ul li {
  padding:15px 13px;
}
.row ul li {
  padding:5px 10px;
}

.row {
  padding:10px 0;
  height:40px;
  font-size:0;
  position:relative;
}
/* 
.title {
  padding:25px 0 5p x 0;
  height:45px;
  font-size:0;
  background-color:$light-bg;
  border-left: 3px solid lighten($light-bg, 10%);
} */

.wrapper {
  width:100%;
  max-width:1000px;
  height:100%;
  max-height:auto;
  margin:20px auto 100px auto;
  padding:0;
  background:$light-bg;
  color:$text;
  overflow:hidden;
  position:relative;
}

.row ul {
  margin:0;
  padding:0;
}
.row ul li  {
  margin:0;
  font-size:16px;
  font-weight:normal;
  list-style:none;
  display:inline-block;
  width:20%;

  }

.title ul li {
  padding:15px 13px;
}
.row ul li {
  padding:5px 10px;
}

.row {
  padding:20px 0;
  height:30px;
  font-size:0;
  position:relative;
}

.title {
  padding:25px 0 5px 0;
  height:45px;
  font-size:0;
  background-color:$light-bg;
  border-left:3px solid lighten($light-bg, 100%);
}

.small {
 color:darken($text,60%);
  font-size: 10px;
  padding: 0 10px;
  margin: 0;
}


.row ul li {
  margin-right: 100px;
}

#table55 {
  margin-right: 10px;
}


#names_section li {
  font-weight: bold;
  color: #0d3458;
}